@{
    ViewBag.Title = "Réinitialiser la confirmation du mot de passe";
    //        Votre mot de passe a été réinitialisé. Veuillez @Html.ActionLink("cliquer ici pour vous connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })

}

@{
    ViewBag.Title = "Confirmation de l'e-mail";
    Layout = null;

}




<!doctype html>
<html lang="en">


<!-- Mirrored from www.wrraptheme.com/templates/lucid/hr/html/light/page-404.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 07 Mar 2019 23:04:41 GMT -->
<head>
    <title>:: Lucid HR :: 404</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="Lucid Bootstrap 4.1.1 Admin Template">
    <meta name="author" content="WrapTheme, design by: ThemeMakker.com">
    @Styles.Render("~/Content/assets/vendor/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Content/assets/vendor/font-awesome/css/font-awesome.min.css")
    @Styles.Render("~/Content/assets/vendor/chartist/css/chartist.min.css")
    @Styles.Render("~/Content/assets/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css")
    @Styles.Render("~/Content/assets/vendor/toastr/toastr.min.css")
    @Styles.Render("~/Content/assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css")
    @Styles.Render("https://use.fontawesome.com/releases/v5.8.1/css/all.css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <link rel="stylesheet" href="../assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
    @Styles.Render("~/Content/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")
    @Styles.Render("~/Content/assets/vendor/dropify/css/dropify.min.css")
    <!-- MAIN CSS -->
    @Styles.Render("~/Content/light/assets/css/main.css")
    @Styles.Render("~/Content/light/assets/css/color_skins.css")
</head>

<body class="theme-orange">
    <!-- WRAPPER -->
    <div id="wrapper">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle auth-main">
                <div class="auth-box">
                    <div class="top">
                        <img src="http://www.wrraptheme.com/templates/lucid/hr/html/assets/images/logo-white.svg" alt="Lucid">
                    </div>
                    <div class="card">
                        <div class="header">
                            <h3>
                                <span class="clearfix title">
                                    <span class="text">Password Reset</span>
                                </span>
                            </h3>
                        </div>
                        <div class="body">
                            <p>
                                     Votre mot de passe a été réinitialisé. Veuillez @Html.ActionLink("cliquer ici pour vous connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END WRAPPER -->
</body>

<!-- Mirrored from www.wrraptheme.com/templates/lucid/hr/html/light/page-404.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 07 Mar 2019 23:04:41 GMT -->
</html>


