@model Web.Models.DocumentViewModel


@{


    Layout = "~/Views/Shared/_TeamleaderLayout.cshtml";
}

@using (Html.BeginForm("Create", "Document", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Create New Project</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item">Projects</li>
                        <li class="breadcrumb-item active">Add Project</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-12 text-right">
                    <div class="bh_chart hidden-xs">
                        <div class="float-left m-r-15">
                            <small>Visitors</small>
                            <h6 class="mb-0 mt-1"><i class="icon-user"></i> 1,784</h6>
                        </div>
                        <span class="bh_visitors float-right">2,5,1,8,3,6,7,5</span>
                    </div>
                    <div class="bh_chart hidden-sm">
                        <div class="float-left m-r-15">
                            <small>Visits</small>
                            <h6 class="mb-0 mt-1"><i class="icon-globe"></i> 325</h6>
                        </div>
                        <span class="bh_visits float-right">10,8,9,3,5,8,5</span>
                    </div>
                    <div class="bh_chart hidden-sm">
                        <div class="float-left m-r-15">
                            <small>Chats</small>
                            <h6 class="mb-0 mt-1"><i class="icon-bubbles"></i> 13</h6>
                        </div>
                        <span class="bh_chats float-right">1,8,5,6,2,4,3,2</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="body">

                        @Html.AntiForgeryToken()
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.DocumentName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Project Name" } })
                                    @Html.ValidationMessageFor(model => model.DocumentName, "", new { @class = "text-danger" })
                                    @*<input type="text" class="form-control" placeholder="Project Name *">*@
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.Size, new { htmlAttributes = new { @class = "form-control", @placeholder = "Project Name" } })
                                    @Html.ValidationMessageFor(model => model.Size, "", new { @class = "text-danger" })
                                    @*<input type="text" class="form-control" placeholder="Project Name *">*@
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <input type="file" name="file" id="file" />
                                </div>
                            </div>

                        </div>


                        <div class="row clearfix">
                            @*<div class="col-12">
                                    <input type="file" class="dropify">
                                    <div class="mt-3"></div>
                                </div>*@

                            <div class="col-sm-12">
                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.categorie, (SelectList)ViewData["categorie"], "---- SVP selectionnez----", new { htmlAttributes = new { @class = "form-control show-tick" } })
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="mt-4">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                    @ViewBag.Message

                                    <button type="reset" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("Index", "Project")'">Cancel</button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>



}
