@model IEnumerable<Domain.Entities.Project>


@{

    Layout = "~/Views/Shared/_TeamleaderLayout.cshtml";

}

@using (Html.BeginForm())
{


    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Projects List</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                        <li class="breadcrumb-item">Projects</li>
                        <li class="breadcrumb-item active">Projects List</li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-12 text-right">
                    <div class="bh_chart hidden-xs">
                        <div class="float-left m-r-15">
                            <small>Visitors</small>
                            <h6 class="mb-0 mt-1"><i class="icon-user"></i> 1,784</h6>
                        </div>
                        <span class="bh_visitors float-right">2,5,1,8,3,6,7,5</span>
                    </div>
                    <div class="bh_chart hidden-sm">
                        <div class="float-left m-r-15">
                            <small>Visits</small>
                            <h6 class="mb-0 mt-1"><i class="icon-globe"></i> 325</h6>
                        </div>
                        <span class="bh_visits float-right">10,8,9,3,5,8,5</span>
                    </div>
                    <div class="bh_chart hidden-sm">
                        <div class="float-left m-r-15">
                            <small>Chats</small>
                            <h6 class="mb-0 mt-1"><i class="icon-bubbles"></i> 13</h6>
                        </div>
                        <span class="bh_chats float-right">1,8,5,6,2,4,3,2</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="body project_report">
                        <div class="table-responsive">
                            <table class="table table-hover js-basic-example dataTable table-custom m-b-0">
                                <thead>
                                    <tr>
                                        <th>Project</th>
                                        <th>Deadline</th>
                                        <th>Duration</th>
                                        <th>Status</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="project-title">
                                                <h6>@Html.DisplayFor(modelItem => item.ProjectName)</h6>
                                                <small>Created @Html.DisplayFor(modelItem => item.Start_Date)</small>
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.End_Date)</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Duration) Days
                                            </td>
                                            <td>

                                                @Html.DisplayFor(modelItem => item.etat)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Description)

                                            </td>

                                            @*<td>
                                                    <div class="progress progress-xs">
                                                        <div class="progress-bar" role="progressbar" aria-valuenow="48" aria-valuemin="0" aria-valuemax="100" style="width: 48%;"></div>
                                                    </div>
                                                    <small>Completion with: 48%</small>
                                                </td>*@
                                            @*<td><img src="../assets/images/xs/avatar1.jpg" data-toggle="tooltip" data-placement="top" title="Team Lead" alt="Avatar" class="width35 rounded"></td>
                                                <td>
                                                    <ul class="list-unstyled team-info">
                                                        <li><img src="../assets/images/xs/avatar1.jpg" data-toggle="tooltip" data-placement="top" title="Avatar" alt="Avatar"></li>
                                                        <li><img src="../assets/images/xs/avatar2.jpg" data-toggle="tooltip" data-placement="top" title="Avatar"></li>
                                                        <li><img src="../assets/images/xs/avatar3.jpg" data-toggle="tooltip" data-placement="top" title="Avatar"></li>
                                                    </ul>
                                                </td>*@

                                            <td class="project-actions">
                                                <a href="@Url.Action("Details","Project", new { id = item.ProjectId})" class="btn btn-sm btn-outline-primary"><i class="icon-eye"></i></a>
                                                <a href="@Url.Action("Edit","Project", new { id = item.ProjectId})" class="btn btn-sm btn-outline-success"><i class="icon-pencil"></i></a>
                                                <a href="@Url.Action("Delete","Project", new { id = item.ProjectId})" class="btn btn-sm btn-outline-danger js-sweetalert" title="Delete" data-type="confirm"><i class="icon-trash"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}